nav.mnav {
  display:none;
}
.container {
  display:grid;
  height: 100vh;
  max-width: 80vw;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10fr 90fr;
  grid-template-areas:
      "nav nav nav nav nav"
      "ma ma ma ma ma"
}

body {
    margin: auto;
    padding: 0;
    max-width: 80vw;
    height: 100%;
    font-family: 'Open Sans',sans-serif,museo_sans,Helvetica,Arial;
  }

  main {
    grid-area: ma;
    display:grid;
    padding:0;

  }

  #icon {
    height:100px
    
  }


nav {
 grid-area: nav;
 display:flex;
 justify-content:flex-end;
}
  


  a, a:link {
    color:black;
    text-decoration: none;
    flex-grow:1;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  
  a:hover {
    color:black;
    background-color:lightgray;
  }

.indexh {
color: white;
text-align: center;
background-image: url(../img/background.jpg);
background-repeat: no-repeat;
background-position: top;
background-size: 80vw;
padding: 30px 10vw;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 250px;
  width: 80vw;

}

#cards article {
  display: grid;
  padding: 20px 20px; 
  text-align: center;


}

.iconer {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: .5em;
  color: #26282c;
  font-weight: 300;
}

h4 {
  font-size: .875em;
  margin: 0;
  text-align: center;
}

#cars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80vw;
  text-align: center;


}

.bilbild {
  width: 20vw;
  height: 250px;
  justify-content: center;

}

.saljah {
  color: white;
  text-align: center;
  background-image: url(../img/487625_1920.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 80vw;
  padding: 0px 5vw;
  padding-right: 30vw;
  height: 250px;
  }

#saljval {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  text-align: center;
}

#kvdlogo {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px
}

#tkglogo {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 2vh 3vh;
  background: lightgreen;
  color: #0e0e0e;
  margin: 0px 20vh;

}

.handlareh {
  color: black;
  background-color: lightgrey;
  padding: 0px 3vw;
  padding-right: 30vw;
  height: 250px;
}

#biltyper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80vw;
  text-align: center;
  padding-top: 20px;
}

.forsakringh {
  color: white;
  text-align: center;
  background-image: url(../img/forsakringbakgrund.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 80vw;
  padding: 30px 10vw;

  }

  #folksam {
    width: 18%;
    position: absolute;
    right: 10vw;

  }

#fosakringm {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 80vw;
  padding-top: 60px;
  
}

@media (max-width: 1024px) {
  body {
    margin: auto;
    padding: 0;
    max-width: 80vw;
    height: 100%;
    font-family: 'Open Sans',sans-serif,museo_sans,Helvetica,Arial;
  }
  #icon {
    height:40px
  }
  nav#dnav {
    display: none;
  }
  .indexh {
    padding: 0;
    background-image: none;
    color: black;
    font-size: 0.6em;
  }
  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 250px;
    width: 80vw;
    margin-bottom: 35vh;
  }
  #cars {
    display: grid;
    grid-template-columns: 1fr;
    width: 80vw;
    text-align: center;
  }
  .bilbild {
    width: 70vw;
    height: 250px;
    justify-content: center;
  
  }
  .saljah {
    color: black;
    text-align: center;
    background-image: none;
    padding: 0px 5vw;
    font-size: 0.7em;
  }
  #saljval {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  #kvdlogo {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px
  }
  
  #tkglogo {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button {
    padding: 2vh 3vw;
    background: lightgreen;
    color: #0e0e0e;
    margin: 0px 10vh;
  }
  .handlareh {
    color: black;
    background-color: lightgrey;
    padding: 0px 3vw;
    padding-right: 0vw;
    font-size: 0.9em;

    height: 250px;
  }
  #biltyper {
    display: grid;
    grid-template-columns: 1fr ;
    width: 80vw;
    text-align: center;
    padding-top: 20px;
  }
  .forsakringh {
    color: black;
    text-align: center;
    background-image: none;
    background-size: 80vw;
    padding: 0;

  }

  #folksam {
    display: none
  }

  #fosakringm {
    display: grid;
    grid-template-columns: 1fr;
    width: 80vw;
}
.mnav-toggle {
  cursor: pointer;
  height: 1vh;
  left: 2vh;
  position: fixed;
  top: 4vh;
  width: 5vh;
  z-index: 2; }
  .mnav-toggle:hover {
    opacity: 0.8; }
  .mnav-toggle .mnav-toggle-bar,
  .mnav-toggle .mnav-toggle-bar::after,
  .mnav-toggle .mnav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: black;
    content: '';
    height: 0.4rem;
    width: 100%; }
  .mnav-toggle .mnav-toggle-bar {
    margin-top: 0; }
  .mnav-toggle .mnav-toggle-bar::after {
    margin-top: 0.8rem; }
  .mnav-toggle .mnav-toggle-bar::before {
    margin-top: -0.8rem; }
  .mnav-toggle.expanded .mnav-toggle-bar {
    background: transparent; }
  .mnav-toggle.expanded .mnav-toggle-bar::after, .mnav-toggle.expanded .mnav-toggle-bar::before {
    background: black;
    margin-top: 0; }
  .mnav-toggle.expanded .mnav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .mnav-toggle.expanded .mnav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

    nav.mnav {
      display: block;
    }

.mnav {
  background: grey;
  color: black;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -50vh;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 1; 
  display: block
}
  .mnav.expanded {
    left: 0; }
  .mnav ul {
    position: absolute;
    top: 20vh;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 7.5vh; 
    font-size: 2.5rem;
  }
  }