#container {
  display:grid;
  height: 100vh;
  max-width: 80vw;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10fr 90fr;
  grid-template-areas:
      "nav nav nav nav nav"
      "ma ma ma ma ma"
}

body {
    margin: auto;
    padding: 0;
    max-width: 80vw;
  }

  main {
    grid-area: ma;
    display:grid;
    padding:0;

  }

  #icon {
    height:100px
    
  }


nav {
 grid-area: nav;
 display:flex;
 justify-content:flex-end;
}
  


  a, a:link {
    color:black;
    text-decoration: none;
    flex-grow:1;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  
  a:hover {
    color:black;
    background-color:lightgray;
  }

header {
color: white;
text-align: center;
background-image: url(../img/bil-lan.jpg);
background-repeat: no-repeat;
background-position: top;
background-size: 80vw;
padding: 12px 10vw;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 250px;
  width: 80vw;
  background-color: gray

}

#cards article {
  display: grid;
  align-items: center;
}

.iconer {
  width: 50%;
}
